html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  max-height: 100vh;
  overflow: hidden;
  height: 100vh;
}

#container {
  height: 100vh; /* for shorter content */
  display: grid;
  min-width: 320px;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  background-color: #fafafa;
  gap: 0;
}

main {
  overflow: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main > header {
  max-height: 50px;
}

main > section {
  min-height: calc(100vh - 50px);
}




